.back {
    -fx-background-image: url(images/Restaurants.jpg);
    -fx-background-size: cover;
}

.btnAgregarTable {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    /*-fx-background-radius: 0 10 10 0;*/
    -fx-background-radius: 10;
    -fx-text-fill: #2f2f2f;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-border-color: #2f2f2f;
    -fx-border-radius: 0;
}

.mesaCard{
    -fx-background-radius: 20;
    -fx-background-color:  rgba(255, 255, 255, 0.3);
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 20;
}