.back {
    -fx-background-image: url(images/Restaurants.jpg);
    -fx-background-size: cover;
}

.ttlTable {

    -fx-font-size: 14;
    -fx-fill: white;

}

.toggle-button {
    -fx-text-fill: rgb(0,200,0);
    -fx-base: transparent;
    -fx-background: rgba(255,255,255,0.1);
    -fx-background-radius: 10;
    -fx-focus-color: transparent;
    -fx-border-color: rgb(0,200,0);
    -fx-border-radius: 10;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-text-fill: orange;
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-focus-color: transparent;
    -fx-border-color: orange;
    -fx-border-radius: 10;
    -fx-effect: null;
}

.table-view{
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
    -fx-selection-bar-non-focused: rgba(255,255,255,0.3) ;
}

.table-view .column-header-background{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-border-color: transparent transparent rgba(255,255,255,0.3) transparent;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 25;
    -fx-border-width: 0 0 0 0;
    -fx-text-fill: #d8d8d8;
}
.table-view .column-header .label {
    -fx-font-size: 12px;
    -fx-text-fill: #d8d8d8;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-cell {
    -fx-font-size: 12px;
    -fx-text-fill: #d8d8d8;
    -fx-alignment: center-left;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-border-color: white;
    -fx-table-cell-border-color: transparent;
}